<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>600156</key>
	<dict>
		<key>HEAD_OUT</key>
		<dict>
			<key>COLL</key>
			<dict>
				<key>0</key>
				<string>V_JGMC</string>
				<key>1</key>
				<string>V_YGXM</string>
				<key>2</key>
				<string>V_LXDH</string>
				<key>3</key>
				<string>V_RYZW</string>
				<key>4</key>
				<string>C_JGBH</string>
				<key>5</key>
				<string>N_JB</string>
			</dict>
		</dict>
	</dict>
	<key>600181</key>
	<dict>
		<key>HEAD_OUT</key>
		<dict>
			<key>COLL</key>
			<dict>
				<key>0</key>
				<string>C_XH</string>
				<key>1</key>
				<string>N_JB</string>
				<key>2</key>
				<string>C_JGBH</string>
				<key>3</key>
				<string>V_JGMC</string>
				<key>4</key>
				<string>N_SZJKDTDS</string>
				<key>5</key>
				<string>N_SMJKDTDS</string>
				<key>6</key>
				<string>N_SZJKDDS</string>
				<key>7</key>
				<string>N_SMJKDDS</string>
				<key>8</key>
				<string>N_TJJKDS</string>
				<key>9</key>
				<string>N_SMTJJKDS</string>
				<key>10</key>
				<string>N_XTXJKS</string>
				<key>11</key>
				<string>N_SMXTXJKS</string>
				<key>12</key>
				<string>RATE1</string>
				<key>13</key>
				<string>RATE2</string>
				<key>14</key>
				<string>RATE3</string>
				<key>15</key>
				<string>RATE4</string>
			</dict>
		</dict>
	</dict>
	<key>600180</key>
	<dict>
		<key>HEAD_OUT</key>
		<dict>
			<key>COLL</key>
			<dict>
				<key>0</key>
				<string>C_XH</string>
				<key>1</key>
				<string>N_JB</string>
				<key>2</key>
				<string>C_JGBH</string>
				<key>3</key>
				<string>V_JGMC</string>
				<key>4</key>
				<string>N_JKTDS</string>
				<key>5</key>
				<string>N_SZJKDTDS</string>
				<key>6</key>
				<string>N_JKDDS</string>
				<key>7</key>
				<string>N_SZJKDDS</string>
				<key>8</key>
				<string>N_TJJKDS</string>
				<key>9</key>
				<string>N_XTXJKS</string>
				<key>10</key>
				<string>N_TDBFGL_RATE</string>
				<key>11</key>
				<string>N_DDFGL_RATE</string>
			</dict>
		</dict>
	</dict>
	<key>600158</key>
	<dict>
		<key>HEAD_OUT</key>
		<dict>
			<key>COLL</key>
			<dict>
				<key>0</key>
				<string>N_JB</string>
				<key>1</key>
				<string>C_JGBH</string>
				<key>2</key>
				<string>V_JGMC</string>
				<key>3</key>
				<string>N_YJSSUM</string>
				<key>4</key>
				<string>N_ZJSSUM</string>
				<key>5</key>
				<string>N_DRTTJS</string>
				<key>6</key>
				<string>N_SRTTJS</string>
				<key>7</key>
				<string>N_LLTTS</string>
				<key>8</key>
				<string>RATE</string>
				<key>9</key>
				<string>RATE1</string>
				<key>10</key>
				<string>RATE2</string>
			</dict>
		</dict>
	</dict>
	<key>600142</key>
	<dict>
		<key>HEAD_OUT</key>
		<dict>
			<key>COLL</key>
			<dict>
				<key>0</key>
				<string>N_JB</string>
				<key>1</key>
				<string>C_JGBH</string>
				<key>2</key>
				<string>V_JGMC</string>
				<key>3</key>
				<string>N_FKS</string>
				<key>4</key>
				<string>N_YJSSUM</string>
				<key>5</key>
				<string>RATE</string>
			</dict>
		</dict>
	</dict>
	<key>600150</key>
	<dict>
		<key>HEAD_OUT</key>
		<dict>
			<key>COLL</key>
			<dict>
				<key>0</key>
				<string>N_JB</string>
				<key>1</key>
				<string>C_JGBH</string>
				<key>2</key>
				<string>V_JGMC</string>
				<key>3</key>
				<string>N_DRTTJS</string>
				<key>4</key>
				<string>N_YJSSUM</string>
				<key>5</key>
				<string>N_ZJSSUM</string>
				<key>6</key>
				<string>RATE</string>
				<key>7</key>
				<string>N_LLTTS</string>
				<key>8</key>
				<string>RATE1</string>
			</dict>
		</dict>
	</dict>
	<key>600149</key>
	<dict>
		<key>HEAD_OUT</key>
		<dict>
			<key>COLL</key>
			<dict>
				<key>0</key>
				<string>N_JB</string>
				<key>1</key>
				<string>C_JGBH</string>
				<key>2</key>
				<string>V_JGMC</string>
				<key>3</key>
				<string>N_YJSSUM</string>
				<key>4</key>
				<string>N_ZJSSUM</string>
				<key>5</key>
				<string>N_DRTTJS</string>
				<key>6</key>
				<string>N_SRTTJS</string>
				<key>7</key>
				<string>N_LLTTS</string>
				<key>8</key>
				<string>RATE</string>
				<key>9</key>
				<string>RATE1</string>
				<key>10</key>
				<string>RATE2</string>
			</dict>
		</dict>
	</dict>
	<key>600152</key>
	<dict>
		<key>HEAD_OUT</key>
		<dict>
			<key>COLL</key>
			<dict>
				<key>0</key>
				<string>N_JB</string>
				<key>1</key>
				<string>C_JGBH</string>
				<key>2</key>
				<string>V_JGMC</string>
				<key>3</key>
				<string>N_XF</string>
				<key>4</key>
				<string>N_JSS</string>
				<key>5</key>
				<string>N_WJSS</string>
				<key>6</key>
				<string>N_HJ</string>
				<key>7</key>
				<string>N_DRYGL</string>
				<key>8</key>
				<string>N_CRYGL</string>
				<key>9</key>
				<string>N_CGLR</string>
			</dict>
		</dict>
	</dict>
	<key>600151</key>
	<dict>
		<key>HEAD_OUT</key>
		<dict>
			<key>COLL</key>
			<dict>
				<key>0</key>
				<string>N_JB</string>
				<key>1</key>
				<string>C_JGBH</string>
				<key>2</key>
				<string>V_JGMC</string>
				<key>3</key>
				<string>N_YJSSUM</string>
				<key>4</key>
				<string>N_LLTTSSUM</string>
				<key>5</key>
				<string>N_CSYJSSUM</string>
				<key>6</key>
				<string>N_CSLLTTSSUM</string>
				<key>7</key>
				<string>CSZB</string>
				<key>8</key>
				<string>N_NCYJSSUM</string>
				<key>9</key>
				<string>N_NCLLTTSSUM</string>
				<key>10</key>
				<string>NCZB</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
